[2014-08-21 03:10] AJDev77 opened #3 "YouTube videos will not load"
YouTube videos do not go full screen. Not sure why yet.

[2014-08-21 03:13] AJDev77 opened #4 "Cross-thread safely issues."
Need to optimize app for multi-threading. Everything needs to cross threads safely.

[2014-09-02 00:00] javathunderman opened #6 "No source for browsing engine"
Can you leave some source (buggy or not) so we can hack it?

[2014-09-13 22:26] AJDev77 opened #7 "Downloads"
The current (and default) download handler is in Chinese (don't ask me why)... So I need to create a new download handler.

[2014-10-05 14:41] javathunderman opened #9 "Chromium based build - Chromium 41"
Just a suggestion, you might want to consider moving Mysurf over to a fork of Chromium; much faster engine and more versatile then what you're using now.

[2014-10-08 21:19] javathunderman opened #11 "Tabbed browsing."
Not to be rude, but GET TABBED BROWSING IN MYSURF ASAP. SERIOUSLY.

[2014-10-30 01:15] AJDev77 opened #13 "Crashing while browsing the web."
This is one nasty bug. I have been trying to get rid of it since before Alpha 1 came out. When browsing for long periods of time (usually), the browser just crashes. It does not happen all the time, which is making it really hard to identify.

[2014-11-16 03:50] AJDev77 opened #15 "ContextMenuStrip"
Need to add a custom ContextMenuStrip, but CEF will not allow me to do so. Contacted developer and awaiting a response.

[2014-11-22 01:49] AJDev77 opened #17 "New logo phase in"
I got feedback from a lot of people saying the "r" in the MySurf logo looks like an "n". I have updated the MySurf logo to make the "r" look more like an "r". Need to update EVERYTHING.

[2014-12-03 03:10] AJDev77 opened #18 "MySurf Sync"
There is going to be an option to sync your bookmarks into one of our servers via FTP. Since Sync will be in beta, I am planning on using x10hosting and see how they work. The accounts will have to be manually created (the only major downfall, but manually approved accounts will reduce the spam anyway), and I already have about half of the sync code finished. A bookmark text file should not take u

[2015-01-04 18:28] AJDev77 commented on #3
@javathunderman Sorry, I read your comment, then I forgot to respond... Anyway, this issue has been resolved.

[2015-01-04 18:31] AJDev77 commented on #15
@javathunderman I tried the code he gave me, but it did not work. I will leave this open for now, and hopefully in a future update I will be able to get this in.

[2015-01-05 04:05] AJDev77 commented on #15
I do have another idea that I could try... I will try it out tommorow.

[2015-01-10 01:36] javathunderman commented on #15
@AJDev77 How did it go?

[2015-01-12 15:48] AJDev77 commented on #18
This has been put on hold. I want to get a stable release out ASAP, this will come in a future update.

[2015-01-12 15:48] #18 closed

[2015-01-12 15:51] AJDev77 commented on #15
@javathunderman It did not work, but the current ContextMenuStrip is fine for the stable release. Might be in a future release.

[2015-01-12 15:51] #15 closed

[2015-01-12 18:43] javathunderman commented on #18
I don't see a need for this. You can eliminate this feature entirely.

[2015-01-12 20:18] javathunderman commented on #7
@AJDev77 How's this coming along?

[2015-01-12 20:22] javathunderman opened #21 "Splash screen bug"
I think you know what I mean by this. :)

[2015-01-12 20:24] javathunderman opened #22 "Auto update"
One thing that I think we should add is auto-updating, so that whenever there's a new build, it automatically downloads and installs when MySurf isn't running. Check out the Chromium project for some inspiration.

[2015-01-13 00:22] AJDev77 commented on #22
That's a great idea. Definitely going to be in the stable release.

[2015-01-16 23:59] AJDev77 commented on #13
I have not seen this happen in the last 2 months, so I am going to close this for now. If it does happen again, I will reopen this.

[2015-01-16 23:59] #13 closed

[2015-01-17 00:08] AJDev77 commented on #21
The splash screen has been removed.

[2015-01-17 00:08] #21 closed

[2015-01-17 19:02] AJDev77 commented on #7
The download manager has been translated. Closing.

[2015-01-26 01:45] AJDev77 commented on #9
@javathunderman I saw this while in class, and forgot to respond by the time I got home, so yeah... Anyway, I am sticking with the engine we have now, and upgrading later (hopefully v3.1).

[2015-01-26 01:48] AJDev77 commented on #11
@javathunderman Same as other comment... And I think I am going to put this in v3.1, with the upgraded version of Chromium. I also need to find a way to get the form to construct multiple instances of the browser without having super high RAM usage.

[2015-01-26 01:55] AJDev77 opened #23 "Security issue - Ignoring certificate errors"
MySurf was ignoring all certificate errors on Alpha 1, 2, and 3. Not many people have these versions, but I will put a notice up on MySurfs website for the next week or two. People are urged to stay up-to-date, especially with Alpha versions, so they should be off. I will look into why this option was turned on by default in the Chromium version I got, and I am rushing the next release of Beta 2 t

[2015-01-26 02:02] javathunderman commented on #23
@AJDev77 Understood. Will not be running JS/HTML tests this week then.

[2015-01-26 02:02] javathunderman commented on #11
Super high RAM usage= crashing. Be careful. :)

[2015-01-26 02:03] javathunderman commented on #9
@AJDev77 Assuming that'll affect HTML and JS tests, I'm going to hold off on those until this and issue #23 are fixed.

[2015-01-26 02:11] AJDev77 commented on #9
@javathunderman I just checked and CefSharp is up to Chromium 37, and they have a pre-release of 39 available. That makes us look really out of date... I am going to be pushing the first stable version, and working on this ASAP. Labeling this high-priority.

[2015-01-26 02:12] javathunderman commented on #9
Better get on having Chromium 39 in the next stable MySurf build. That is imperative! You might want to consider getting issue #22 to auto-update Chromium's browsing engine, if possible.

[2015-02-02 16:31] AJDev77 commented on #23
This will be fixed in the next release coming out this week. For some reason it does not give an error when an invalid certificate is identified, but it will refuse to load the page. I am going to leave this open, but change the labels.

[2015-02-16 16:05] javathunderman commented on #23
@AJDev77 Have you fixed this?

[2015-02-26 21:49] javathunderman opened #25 "UNIX based OS support?"
Just a question- any plans to make MySurf compatible with Mac OS X and Linux?

Personally, I'm in favor of getting this on Linux pretty soon, but it's up to you...Discovered an alternative browsing engine on Linux- might be better to use that than Webkit on Linux. (http://github.com/servo/servo)

[2015-02-26 21:57] AJDev77 commented on #25
There are plans to bring MySurf to Linux, and maybe OS X... I am still looking into it though. @javathunderman

[2015-03-04 16:27] javathunderman commented on #25
Closing this because it's not on our radar at the moment.

[2015-03-04 16:27] #25 closed

[2015-03-04 16:30] javathunderman commented on #23
Fixed!

[2015-03-04 16:30] #23 closed

[2015-03-06 01:07] AJDev77 commented on #9
Just another update: Thanks to a user on Stackoverflow (Yoshi), I was able to get Chromium 39 working in Labs. I am going to be replacing Chromium in MySurf over the next month. I need to make sure MySurf's features are still working, and there is still tight security and great performance.

[2015-03-06 16:14] AJDev77 commented on #6
Reopening this because of MySurf's new engine.

[2015-03-06 16:18] javathunderman commented on #6
@AJDev77 Did you create a new repo for the browsing engine?

[2015-03-06 16:20] AJDev77 commented on #6
@javathunderman I did, but then I figured that I could just put everything into the main MySurf repo...

[2015-03-06 16:30] javathunderman commented on #11
@AJDev77 Has this been fixed?

[2015-03-06 16:31] javathunderman commented on #22
Temporarily closing. I don't see the need for this to be in the next release.

[2015-03-06 16:45] AJDev77 commented on #11
@javathunderman  I am going to be working on this while I am putting in the new engine... There might be a maximum number of tabs when it first comes out though...

[2015-03-07 17:01] AJDev77 opened #26 "Give users more control of browser"
The new browsing engine allows me to give more options to users. There is going to be a "Engine Settings" section in the settings form, where users can choose if they want Java, WebGL, WebSecurity, etc. enabled or not. For critical stuff, like WebSecurity, I am going to have a separate confirmation box telling users why it is important and telling them not to disable it (just to be sure that inexp

[2015-03-07 18:53] javathunderman commented on #26
Alright, but keep it simple. You might want to have a “developer mode” or “advanced mode” in the settings that gets you all that great stuff.

[2015-03-07 19:14] AJDev77 commented on #26
@javathunderman Alright. Everything is going to be on one "Advanced engine settings" window, and I am not going to let the user edit anything in the advanced settings until I show them a msgbox with the possible consequences. On the settings window, all the user sees is a button to go to the advanced settings. Is that what you mean?

[2015-03-08 01:41] AJDev77 commented on #6
@javathunderman I've changed my mind... I am going to create a repo for the browsing engine source code.

[2015-03-08 02:48] javathunderman commented on #26
Yep, that’s what I meant.

[2015-03-09 00:27] javathunderman opened #27 "Shortcuts don't get removed"
After uninstalling an old version of MySurf, I noticed that the icon I have on the start screen didn't go away. Investigating this, MySurf's installer does not delete shortcuts in the AppData folder currently. It's a small problem, but it's probably something relatively easy to fix.

@AJDev77 Thoughts on this?

[2015-03-09 00:29] javathunderman commented on #11
Consider a limit around 15 tabs if that's cool.

[2015-03-10 17:47] AJDev77 commented on #27
@javathunderman I will look into this, and yes, it should be easy to fix.

[2015-03-19 01:40] AJDev77 opened #28 "MySurf compatibility check"
I need to get clean VMs for Windows Vista, 7, 8.1, and 10 running for MySurf to test compatibility. I am 99% sure it will work with those OS's, but I need to make sure. I am also going to be performing stress tests (low/out of RAM, etc.) to see how MySurf reacts.

[2015-03-19 02:11] AJDev77 commented on #9
Just ran a (very) early test on MySurf canary, and MySurf will be getting an HTML5Test.com score of 510 out of 555 (With the latest version of Chrome getting 518). Just for comparison, that is a 84 point increase than the old engine we were using (old score was 426). We will be excited to hopefully release this soon!

[2015-03-19 19:23] javathunderman commented on #9
:+1:

[2015-03-19 19:25] javathunderman commented on #28
RAM could be an issue. Chrome for me is always a memory hog, so see if you can turn off background processes and other unnecessary bells and whistles to decrease that usage.

[2015-03-20 23:24] AJDev77 commented on #28
Yeah, I am going to try to see what I can do. Anyway, just a status update: I just did a fresh install of Windows 10 x64, and I was setting it up, when the setup application decided to crash, yes crash, and the screen went black and the system is frozen now... So I will be reporting this to Microsoft and I will just try a restart for now...

[2015-03-20 23:51] javathunderman commented on #28
@AJDev77 Is it running in a VM?

[2015-03-21 00:55] AJDev77 commented on #28
@Javathunderman Yup.

[2015-03-25 02:46] AJDev77 commented on #11
Just an update: I think I have a design that I want to go with, and I will be starting the actual code for tabs very soon.

[2015-03-25 02:48] AJDev77 commented on #6
Just an update: I will be putting the source code up very soon; hopefully by/on Saturday.

[2015-03-25 02:50] AJDev77 commented on #26
Just an update: I have the code for this, but I still need a nice design for all of the options, without it looking too cluttered...

[2015-03-29 00:56] AJDev77 commented on #4
Due to upgrading Chromium, this is an issue again.

[2015-03-29 01:05] AJDev77 commented on #4
Surprisingly easy to fix.

[2015-03-29 01:05] #4 closed

[2015-03-29 02:47] AJDev77 commented on #7
Since the new project change, I do not get a built in download handler now, so I am forced to create my own. Downloads are sort of working, but not fully. It does trigger the Save File dialog, and it starts the download, but 2 things happen. After you press "Save" or even "Cancel" on the Save file, the browser trigger a PageLoadError, so it will take you to the Error Loading page. Another thing is

[2015-03-29 17:42] javathunderman commented on #7
@AJDev77 Could you provide the name of the download manager you are using? I might be able to find an alternative.

[2015-03-29 17:44] javathunderman commented on #6
@AJDev77 It's Sunday and nothing- I want some code!

[2015-03-29 17:56] AJDev77 commented on #7
@javathunderman I am creating my own download manager for MySurf.

[2015-03-29 18:02] AJDev77 commented on #6
I will put some code up today... I was trying to get MySurf back where it was before the engine change. @javathunderman

[2015-03-29 23:57] AJDev77 opened #29 "x86 and x64"
MySurf is compatible with x86 and x64, but should we distribute both versions? If we do distribute both, should we just have both links on the download page and let users choose which one? Right now there is no way for MySurf to detect if it needs x86 or x64 files, but it might be coming soon.

[2015-03-30 01:59] AJDev77 commented on #6
Very buggy code was uploaded. Closing.

[2015-03-30 01:59] #6 closed

[2015-03-30 07:20] javathunderman commented on #29
Yes, distribute both. We want the biggest user base possible!

[2015-03-30 07:20] javathunderman commented on #6
Great. Better get on that debugging.

[2015-03-30 10:54] AJDev77 commented on #7
Status update: I am opening up an issue on the Cefsharp repository.

[2015-03-30 17:26] AJDev77 commented on #6
@javathunderman It should be easy to debug it... the code I had before just needs to be edited a little... the hardest part is probably just going to be finding the time to do it all... but I am trying to get at least one thing done each night.

[2015-03-30 17:54] javathunderman commented on #7
Link us there and put a link to that issue here.

[2015-03-30 23:04] AJDev77 commented on #7
@javathunderman Will do. I will be creating the issue later tonight.

[2015-03-31 01:54] AJDev77 commented on #7
@javathunderman I referenced the issue there and it shows the issue above.

[2015-04-05 10:17] javathunderman opened #30 "Renaming"
So we've been talking about this internally, but I think it may (I think) be time to rename.

BTW, the new name is being kept under wraps.

Hehe.

[2015-04-05 13:31] AJDev77 commented on #29
Alright, I will build both when the time comes.

[2015-04-05 13:31] #29 closed

[2015-04-05 13:37] AJDev77 commented on #30
@javathunderman Alright, we still need to talk internally about this to work out all the details though.

[2015-04-06 19:45] javathunderman commented on #28
@AJDev77 I think we can close this- as far as I know this should run a-OK on pre-Win 8 OSs. Reopen at will.

[2015-04-06 19:45] javathunderman commented on #27
@AJDev77 Any update?

[2015-04-06 19:47] javathunderman commented on #26
@AJDev77 Keep a Chromium style Inspect Element- that probably will look best, but we can ditch a lot of the more advanced features (we want this to be a browser, not an IDE), so just have a JS console, HTML viewer, and a resources tab (where you can find all scripts and images being called from a webpage.

[2015-04-06 19:47] javathunderman commented on #11
@AJDev77 Anything else on this?

[2015-04-06 19:49] AJDev77 commented on #27
When the next beta comes out I will look at this. @javathunderman

[2015-04-14 01:29] AJDev77 commented on #11
@javathunderman Just need to figure out how to construct the browser in each of the tabs, and get browser information from that specific tab.

[2015-04-20 23:16] javathunderman opened #31 "Split status updates"
I'm thinking we should have status updates and a changelog as another .md file because deleting those parts of the readme file sounds counter productive to me.
@AJDev77

[2015-04-21 22:28] javathunderman commented on #31
@AJDev77 I'm thinking about closing the milestones you've put out there- I want to start fresh because of #30

[2015-04-21 23:00] AJDev77 commented on #31
I agree. When #30 comes out, I will have both of these in separate files.

[2015-04-28 02:08] AJDev77 commented on #26
Just a status update- This should be finished tomorrow. Have the design down, just need to finish the code and have it interact with Chromium.

[2015-04-28 02:18] AJDev77 commented on #27
Since we will be rebranding, the installer needs to be changed. I could always use the current install creator that I have been using, but I am not sure if they fixed this or not... Any suggestions for install creators?

[2015-04-28 02:21] AJDev77 commented on #7
Since the guy on the CEF forum has not been helping (not responding), I will just be using a little quick fix that I came up with. Not sure if it is going to work, but I will try.

[2015-04-28 12:21] javathunderman commented on #26
@AJDev77 Great.

[2015-04-28 12:22] javathunderman commented on #27
Just do that, I don't think it's that big a deal. If you can, try moving the icon inside MySurf's directories from the AppData folder on Win machines. Or you can add that thumbnail and shortcut to the list of files that get removed by the installer.

[2015-04-28 12:22] javathunderman commented on #7
@AJDev77 Yep, that's fine.

[2015-04-28 17:37] AJDev77 commented on #9
Changed the name to include Chromium 41, since that is what we are going for.

[2015-04-29 00:22] javathunderman commented on #30
@Tux64 Just FYI, if you've started on the OS X or Linux version of MySurf.

[2015-04-29 00:58] Tux64 commented on #30
Ok. I plan on only patching it, since it is possible to build with (slightly modified versions of) the files included currently.

[2015-04-29 23:21] AJDev77 commented on #3
@javathunderman YouTube videos will not load if I use my custom user agent for (insert new name here :smile:). The only thing I do is remove the Chrome part and replace that with our branding. I found that if I include Chrome/39(etc.), then YT videos will load fine, but websites will incorrectly identify our browser as Google Chrome. Should I just keep the Chrome part in there until Google fixes t

[2015-04-29 23:53] javathunderman commented on #3
Eh, not so big a deal that we’re labeled as Google Chrome (even though we’re WAY better than them 😖mile:)

Do that then.

[2015-05-01 00:38] AJDev77 commented on #26
Finished.

[2015-05-01 00:39] AJDev77 commented on #3
Will be adding the Chrome identifier in with our branding. YouTube videos seem to be working fine.

[2015-05-01 00:39] #3 closed

[2015-05-01 01:12] AJDev77 commented on #11
Update on this: I have some old code that I wrote that I will base the tabs code off of. Right now, my main priority is getting a stable version out, so I will start experimenting with tabs after a stable version has come out.

[2015-05-01 01:36] AJDev77 opened #32 "PPAPI Plugins (Flash Player)"
CEF just recently added PPAPI plugin support, so we don't have it yet. I am not sure when that version of CEF will come down to us, but as of now Flash Player is not working. If it does come out early, it will be a beta test, as I need to repackage CEF (2357, Chromium 43) and put it into Cefsharp.

[2015-05-01 13:50] javathunderman commented on #32
@AJDev77 Just a question- does Flash Player clash with our license? (We're operating on a modified MIT license), because I know Chromium doesn't natively support things like Flash because of that.

[2015-05-01 13:51] javathunderman commented on #11
@AJDev77 Push back the stable release- I'd rather have tabs more than anything!

[2015-05-01 13:54] javathunderman opened #33 "Opaque on OS X and Linux"
We found out that VB is coming to OS X and Linux, and that it can be installed as a binary pretty quickly. We're not sure if we want to just use this instead of making a dedicated version, but we're just putting it out there.

[2015-05-03 19:45] AJDev77 commented on #32
@javathunderman  I'm not sure... But Flash Player does not come pre-installed... users will need to download it from Adobe.

[2015-05-04 01:19] javathunderman commented on #32
@AJDev77 Stay on the safe side, I don't want someone from Adobe knocking on our door over this sort of stuff.

[2015-05-08 00:19] javathunderman commented on #11
ping! @AJDev77 Updates?

[2015-05-10 01:46] AJDev77 commented on #11
Update on this: first way to implement tabs did not work... but I do have another way that I am going to try out... and I think it is going to work this time.

[2015-05-11 20:35] javathunderman commented on #30
@AJDev77 Status update, please?

[2015-05-11 21:15] Tux64 commented on #32
Legally, as long as you don't include it, your license still stands.

[2015-05-13 01:45] AJDev77 commented on #11
So far so good with the tabs. Just trying to get the design in.

[2015-05-20 00:41] javathunderman commented on #7
@AJDev77 Ping

[2015-05-22 02:14] AJDev77 commented on #7
My fix is sort of working, but there is always going to be small issues relating to downloads until CefSharp/CEF fixes this...

[2015-05-27 01:47] AJDev77 commented on #11
After many days (2 weeks), I finally got a custom tab design in. This is a major accomplishment, and pushed the release date closer.

[2015-05-31 19:49] javathunderman commented on #33
Closing as we are focusing on our new release. Can always reopen!

[2015-05-31 19:52] javathunderman commented on #7
Closing because of above comment.

[2015-05-31 19:52] #7 closed

[2015-05-31 19:54] #32 closed

[2015-05-31 19:57] #11 closed

[2015-06-03 00:00] javathunderman commented on #30
Alright, we should be ready for the launch of the new browser very soon.

[2015-06-15 01:47] AJDev77 opened #34 "Performance"
There are some slight performance issue, nothing to noticeable, but I do want to get this fixed. There is just a little bit of lag/flickering when re-sizing the window.

[2015-06-15 13:18] javathunderman commented on #34
Hey @AJDev77 any update on the new release? We're due soon.

[2015-06-17 18:18] AJDev77 commented on #9
Done.

[2015-06-17 18:18] #9 closed

[2015-06-17 19:31] AJDev77 commented on #27
I think this is fixed.

[2015-06-17 19:31] #27 closed

[2015-06-17 19:44] AJDev77 commented on #28
I was testing the new version on Windows 10, and it would not launch. It said on of the components, CefSharp.Core.dll, could not be found, but it was in the folder. Not sure what is going on, so I need to test this in a clean install of Windows 8 in a VM to see if it does the same.

[2015-06-17 22:16] AJDev77 commented on #28
Got this fixed. It was finding the file fine, I just needed to include the Visual Studio C++ 2012 redist. in with the program files. I could have the user install the whole C++ SDK, but I opted to just include 3 more DLL files. I am on Windows 10 typing this using the new browser.

[2015-06-17 22:16] #28 closed

[2015-06-19 23:25] AJDev77 commented on #26
Unfortunately, I've been doing some testing, and having these options the way I do slows down the launch, so for now, I am removing it from the initial release. It will come in the next update. I know how to fix this, I just can't get it finished in time for the first release.

[2015-06-20 13:45] AJDev77 commented on #30
12:00 PM EST. http://mysurf.tk

[2015-06-20 15:43] #31 closed

[2015-06-20 15:59] #30 closed

[2015-06-20 16:00] AJDev77 commented on #30
Welcome to Opaque.

[2015-06-21 15:00] AJDev77 commented on #33
@Tux64 Now that the first release is out, can you please contact us at info@emposoft.com? That way we can discuss the details more.

[2015-06-22 00:11] javathunderman opened #36 "Add more animations"
While using Opaque, I found it a bit awkward to have things loading but no indication of that happening- no loading sign, nothing.

[2015-06-22 00:12] javathunderman opened #37 "Open in new tab"
One other thing I found was I wanted to be able to open things in new tabs, but not able to.

[2015-06-22 01:01] AJDev77 commented on #37
What do you mean? Like right clicking and then Open in new tab?

[2015-06-22 12:57] javathunderman commented on #37
That, clicking the middle wheel to open in a new tab, and hitting the Ctrl+T combination to open a new tab up.

[2015-06-22 21:13] javathunderman opened #38 "Omnibox"
Preferrably, I'd like to have it so that we can have search functions to DDG directly from the URL box- not sure if this is possible but it might be worth a try.

[2015-06-22 21:16] javathunderman commented on #34
I've been noticing that there's a seperate CEF operation that's gobbling up ~170 MB of RAM in addition to Opaque's original functions (which are 60 MB alone), so that's something to look into.

[2015-06-22 23:02] AJDev77 commented on #34
That's just Chromium, don't think it is anything to worry about.

[2015-06-22 23:17] AJDev77 commented on #38
Yeah, I don't really know how I could do this, but I can try!

[2015-06-23 00:30] javathunderman commented on #34
Still, there might be a way to economize the load that the system takes- that's quite a bit of RAM for lower end PCs with, say, 2GB of RAM (though I'd never use those, because let's be honest, 4+GB RAM FTW) :smile:

[2015-06-23 02:32] AJDev77 commented on #34
:smile: Yeah. I just did a test on my Asus T100, with 2 GB of RAM and an Atom processor, and I was running 10 tabs (DDG, Outlook, 2 YouTube videos, Google News, PC Mag, Accuweather, Emposoft, and Mutter, and some other news site) and Opaque was using about 1 GB for all the tabs. Opened up all the tabs in Chrome and it was the same. One thing I did notice though, is that Chrome takes about 10 secon

[2015-06-23 02:34] AJDev77 commented on #37
Right clicking to open a new tab can't happen right now, as CefSharp does not support a custom ContextMenu for me to put that in. (There is already an issue open). The last 2 I could try, but I don't know how to detect the middle wheel click...

[2015-06-23 02:36] AJDev77 commented on #36
@javathunderman Well, it's not an animation, but the refresh button will turn into a stop button when the page is loading. I am looking into an animation library though. I am testing it out right now to see if it will have any high system resource use.

[2015-06-23 12:00] javathunderman commented on #36
Yeah, by that I meant something a bit more noticeable than that.

[2015-06-23 12:01] javathunderman commented on #34
I did notice that it was a lot faster than Chrome, but we need to find a way to get rid of that resources baggage that CEF carries.

[2015-06-23 12:34] javathunderman opened #39 "Bring back the start page!"
I'll bring it back, but @AJDev77 you'll need to set it up so that it goes to a different webpage than DDG. Don't worry, DDG search will be available on the start page.

[2015-06-23 12:35] javathunderman commented on #34
Opaque just crashed (because I wanted it to), and when it reopened it opened up the start page twice...

[2015-06-23 12:36] javathunderman commented on #26
No problem, just get it in next time.

[2015-06-23 13:12] AJDev77 commented on #34
How'd you get it to crash? I need to replicate it to see what is gong on. @javathunderman

[2015-06-23 14:02] javathunderman commented on #34
Opening as many tabs as possible and clicking around inside the frame until it stops responding.

[2015-06-23 14:07] javathunderman opened #40 "Foreign protocols don't work"
Foreign protocols (examples being git://, ftp://, mailto:, etc) don't work with Opaque- it attempts to open it in a new tab and proceeds to return a blank page.

[2015-06-23 18:17] AJDev77 commented on #36
I have been looking into an animation library... I am just testing it to see if there are any issue.

[2015-06-23 18:37] AJDev77 commented on #34
How many tabs did you have open? I opened as many tabs as possible, but then my computer ran out of RAM.

[2015-06-24 02:55] AJDev77 commented on #39
@javathunderman  Let me know when you have the start page finished.

[2015-06-24 03:01] AJDev77 commented on #40
Hmmm... I think I can program the protocols manually, and just execute a shell command to open the default program for the protocol.

[2015-06-24 19:41] javathunderman opened #42 "!G Maps don't work"
!G (Google) Maps don't work with Opaque for some reason- it defaults to a "lite" mode.

[2015-06-24 19:53] javathunderman commented on #38
And I stupidly found out that there's already one in here. *facepalm*

[2015-06-24 19:53] #38 closed

[2015-06-25 21:29] javathunderman opened #43 "Getting it out there!"
So obviously we have a pretty limited amount of users (in reality it's just me), but I'd like to start some more outreach. So, I've done this: https://duck.co/forum/thread/13922/opaque-private-browser

And this: http://twitter.com/Emposoft

...and have been researching options for forums on the Opaque website (http://www.mybb.com/ seems to be in the lead).

cc @AJDev77 @Tux64 @zekiel

[2015-06-25 21:31] javathunderman commented on #37
I found that this issue seemed to be the biggest and most annoying for me- I hope CEF gets cracking on that issue...

[2015-06-27 23:29] AJDev77 commented on #42
@javathunderman  I don't seem to be having this issue. Do you have a screen shot of what it does?

[2015-06-28 12:12] javathunderman commented on #42
Technically it may work, but it defaults to a "lite" version (for me) that removes features.

[2015-06-29 12:26] javathunderman opened #44 "!G eavesdropping using CEF?"
A Duck.co user (buckeye) reported on my post about Opaque about how !G (Google) might be using the Chromium engine to install audio-snooping software onto computers that use it. I'm not sure if CEF is affected by this, but this is something worth looking into as it could jeopardize our usage of CEF. If needed, @zekiel and @Tux64, can you suggest some alternative engines?

cc @AJDev77

(Report that

[2015-06-29 12:45] AJDev77 commented on #44
CEF should not be affected, as we don't have the Chrome Extentions system, and I could not get "OK Google" to work on Opaque. There is also an issue open that can explain more here: https://github.com/cefsharp/CefSharp/issues/1092

I will keep looking into this though.

[2015-06-29 15:09] javathunderman commented on #44
@amaitland Is it that CEF isn't tracking us according to cefsharp/CefSharp#1092 then?

[2015-06-29 15:10] javathunderman commented on #33
@Tux64 any updates?

[2015-06-29 21:03] Tux64 commented on #33
@javathunderman In the process of migrating the codebase to C# for
practicality reasons. The VB.net compiler simply isn't advanced enough for
regular use. Should be done tonight.

On Mon, Jun 29, 2015 at 11:10 AM, Thomas Denizou <notifications@github.com>
wrote:

[2015-06-29 22:07] javathunderman commented on #33
@Tux64 Awesome! Looking forward to it.

[2015-06-30 01:10] amaitland commented on #44
The question has been asked on `ceforum`, still awaiting an official response.

http://magpcss.org/ceforum/viewtopic.php?f=6&t=13131

[2015-06-30 01:10] javathunderman commented on #44
Thanks @amaitland, we'll be following this.

[2015-06-30 04:57] Tux64 commented on #33
Update: Replacing `App.config` (Not supported with Mono's library) may take a while.

[2015-06-30 12:26] javathunderman commented on #33
No problem, just leave comments on this issue as updates.

[2015-07-01 00:18] javathunderman opened #45 "No .mp4 support?"
I tried to play a .mp4 file from a website, and instead of playing it in frame, Opaque attempted to download the video...

[2015-07-01 00:19] javathunderman opened #46 "file:/// support"
At some point it'd be nice to be able to render local .html (and other) files using Opaque and the file:/// protocol (as in Chrome).

[2015-07-01 00:50] AJDev77 commented on #45
CEF/Opaque does not have MP3, MP4, etc. support because of licensing restrictions. The codecs are not open (as far as I know), so it would be illegal to include them with Opaque. Therefore the only thing it can do is download it.

Official statement:
Codecs like MP3 and AAC are included in Google Chrome releases but not Chromium builds. This is because these formats are not open and require licens

[2015-07-01 00:50] #45 closed

[2015-07-01 00:52] AJDev77 commented on #46
I am working on this, I just don't know when it will be finished. Should be "soon", as in before 2.0. I will update this when I get a time frame.

[2015-07-01 00:54] AJDev77 commented on #42
Oh, now I see what you mean. I will see what I can do about this. It's probably something stupid, like it's reading the wrong OS or something...

[2015-07-01 02:26] AJDev77 commented on #42
Yep. I did not put the OS version correctly in the user agent, so it was not detecting it right. Fixed, and should be in next release.

[2015-07-01 02:26] #42 closed

[2015-07-04 19:28] javathunderman opened #47 "Navigation bar bug"
I installed Opaque on a Win 7 machine, and I can't change the address in the navigation bar...@AJDev77  Can you fire up a VM and try to replicate this?

[2015-07-04 19:38] AJDev77 commented on #47
@javathunderman yeah, I will fire one up tonight or tommorow and see. Anything specific that made it stop working?

[2015-07-04 19:43] javathunderman commented on #47
Nope, just wouldn't let me click into it. @AJDev77

[2015-07-06 01:17] AJDev77 commented on #47
@javathunderman  Hmmm. Can you give me more details about the machine (x86 or x64 and .Net version)?
I fired up a Windows 7 64-bit VM with .Net 4.5 and I could not replicate this. Did you try reinstalling? It might be a corrupted Opaque install, or even a corrupted .Net install...

[2015-07-06 11:54] javathunderman commented on #47
Might be right about .NET. Anyway, will be absent for remainder of week.

[2015-07-07 02:00] AJDev77 commented on #26
Done.

[2015-07-07 02:00] #26 closed

[2015-07-07 02:03] AJDev77 commented on #34
Just found out, the flickering that I am see happens to every application on my computer...

[2015-07-07 12:53] javathunderman commented on #34
Lol ok.

[2015-07-07 14:55] AJDev77 commented on #47
@javathunderman  After checking up on your .Net installation, if this still happens, let me know. If it can happen to one person, it can happen for others as well.

[2015-07-07 14:56] AJDev77 commented on #34
Just changed the milestone because we could always be improving on the performance overtime.

[2015-07-11 17:08] AJDev77 commented on #33
@Tux64 Hey, do you have any status update on this? I just pushed an update, and (sorry) it adds a lot more to `App.config`... How are you storing the options in the Linux/Mac version? If there is a different way to store the settings that make it easier for you, just let me know how!

[2015-07-11 17:14] javathunderman commented on #44
An official comment has been left on the CEF Forum, and we've been notified that CEF does not eavesdrop. The reply can be found on this issue, in a link.

[2015-07-11 17:14] #44 closed

[2015-07-11 17:14] AJDev77 commented on #44
Due to official comment, I think we are good.

[2015-07-11 17:41] javathunderman opened #48 "Set current page as homepage"
Recommended at Q&H.

[2015-07-12 23:55] Tux64 commented on #33
@AJDev77 Currently researching a wrapper for CefSharp, as it uses native code. If the wrapper is complete enough, it should run the precompiled binary without modification.

[2015-07-13 14:49] javathunderman commented on #43
ping @mrshu we could use some help!

[2015-07-13 14:50] javathunderman commented on #43
Oh and I did this as well: http://twitter.com/javathunderman

[2015-07-13 14:51] javathunderman commented on #47
Seems to be a more limited issue (probably with just this system), so I'm taking this off the milestone.

[2015-07-13 14:52] javathunderman commented on #36
ping @AJDev77 any update?

[2015-07-14 02:04] AJDev77 opened #49 "Safe Browsing?"
I found a API provided by !G that will allow Opaque to utilize Safe Browsing. It will check the current URL to see if it is listed as phishing, malware, or unwanted software, then take an appropriate action. I know that this could put the privacy of the user at risk (because it sends the URLs to Google, and I don't know if they collect data from the Safe Browsing API), so I wanted to hear from oth

[2015-07-14 21:13] Tux64 commented on #33
@AJDev77 I derived the current codebase from the update. The settings are stored using `System.Configuration`.

[2015-07-16 19:39] javathunderman opened #50 "Doesn't go back to previous page on redirects"
If the previous page is a redirect, it does not let you go back to the previous site because it is stuck in a redirect loop (tested with duck.co)

[2015-07-17 00:46] AJDev77 commented on #50
I don't really know how I could fix this...

[2015-07-17 01:42] javathunderman commented on #50
Maybe have it send out a ping and if it redirects, have the page skip to the page before the redirect? But that would be a lot of code and it would be inefficient.

[2015-07-22 16:05] AJDev77 commented on #49
Any comments on this? @zekiel @javathunderman

[2015-07-22 17:47] javathunderman commented on #49
Sorry, just saw this. If possible you should evaluate the code and make sure it's good (unless it's too big, in which case I suggest you don't use it.)

[2015-07-22 19:27] AJDev77 commented on #49
@javathunderman I can't evaluate the code because I just submit a web request to the API and it returns the result if it is a bad URL or not.

[2015-07-22 21:22] javathunderman commented on #49
Ah, it’s an API. Sorry, misunderstood you. (I’m probably going to look back on this and see “API” in bold lol)

[2015-07-26 20:09] AJDev77 commented on #39
@javathunderman Any update on this? If you don't have time to do this, I can pick it up.

[2015-07-26 20:15] AJDev77 commented on #48
Should be working in the next release (1.0.1, which is coming soon).

[2015-07-26 20:15] #48 closed

[2015-07-26 20:17] AJDev77 commented on #50
@javathunderman How did you test this with duck.co? When I try, it always opens in a new tab, and then the back button would not be available because it is a new session.

[2015-07-26 20:18] AJDev77 commented on #40
I am working on a new way to detect if it is a valid URI or not... when I get that working, this should be resolved soon after.

[2015-07-26 20:27] javathunderman commented on #50
That might have been a one off then, I dunno…

[2015-07-26 20:28] javathunderman commented on #39
Yeah, can you do that? I’m busy with Pley at the moment.

[2015-07-26 20:34] AJDev77 commented on #39
Yeah, I got it.

[2015-07-31 02:22] AJDev77 commented on #39
Will be in next release.

[2015-07-31 02:22] #39 closed

[2015-08-01 18:50] javathunderman opened #51 "Google fonts appearing very thin"
I don't know if this is an issue with Google or Opaque, but whenever I go to a Google website like YouTube, the text is so thin that I can bearly read it. This issue doesn't appear on Chrome, and I have no clue how to fix this.

[2015-08-01 18:56] AJDev77 commented on #51
What do you mean? Can you provide me with a screenshot? @javathunderman

[2015-08-01 22:48] javathunderman commented on #51
![thinfont](https://cloud.githubusercontent.com/assets/6887325/9023873/f304355e-387d-11e5-994d-0c77da02484d.JPG)

[2015-08-01 23:28] AJDev77 commented on #51
Are you talking about the name on the comment?

[2015-08-02 02:18] AJDev77 commented on #51
@javathunderman  Hmmm... I don't seem to be noticing this. Here is a screenshot of Opaque (on the right) with Chrome (on the left). Did you start noticing this after the Windows 10 upgrade, or was it always there?
![opaque thin fonts](https://cloud.githubusercontent.com/assets/6192064/9024387/1181fa62-389b-11e5-8a76-b420b6eb7e6a.PNG)

[2015-08-02 12:48] javathunderman commented on #51
It was always there- that’s weird…

[2015-08-02 13:11] AJDev77 commented on #51
I recommend you wait for the next release and see what happens, because it fixes the Maps issue, so it might fix this as well. The next release is coming VERY soon. @javathunderman

[2015-08-02 14:18] javathunderman commented on #51
Just a quick question: the screenshot you provided was one that didn't show it as thin as I saw it. Does the version you were running also fix the Maps issue? If not then this is a separate issue.

[2015-08-02 18:30] AJDev77 commented on #51
No, I was running it on the 1.0.0 stable version that you should have.

[2015-08-02 21:34] javathunderman commented on #51
Odd, must be a rendering issue on my side…

[2015-08-02 22:00] AJDev77 commented on #51
Could be... Did you try clearing the cache?

[2015-08-03 21:12] javathunderman commented on #51
Trying that now...

[2015-08-03 21:14] javathunderman commented on #34
I did mention this earlier and I wanted to bring it up again, but YT videos aren't going full screen. YouTube also just released a new version of their player and this does not allow me to go full screen.

[2015-08-03 23:46] AJDev77 commented on #50
I can't seem to find a way to send out a ping if it redirects...

[2015-08-03 23:51] AJDev77 commented on #33
@Tux64 How's it going?

[2015-08-03 23:53] AJDev77 commented on #51
@javathunderman How did it go?

[2015-08-04 00:35] javathunderman commented on #51
Tried that and it returned a message saying the cache couldn't be cleared. Retrying...

[2015-08-04 00:44] AJDev77 commented on #51
When you click clear cache and shutdown Opaque, next time you launch it, run it as administrator. It has a problem with accessing the Program Files directory...

[2015-08-04 01:32] AJDev77 commented on #51
It could also be an internal Windows font problem... but if Chrome has it right I wouldn't think it would be this...

[2015-08-04 10:22] amaitland commented on #50
You'd be better off implementing `CefNavigationEntryVisitor` in `CefSharp`, then you can look at the history. If your building a fully functional browser then you'll likely need this eventually.

http://magpcss.org/ceforum/apidocs3/projects/%28default%29/CefNavigationEntryVisitor.html#Visit%28CefRefPtr%3CCefNavigationEntry%3E,bool,int,int%29

[2015-08-04 10:24] amaitland commented on #37
No plans at this stage to implement the missing context menu features, it's all pretty simple stuff though. You guys are welcome to get involved if you require the feature.

https://github.com/cefsharp/CefSharp/issues/866#issuecomment-77747075

[2015-08-04 10:45] amaitland commented on #40
`CEF` has an `OnProtocolExecution` handle, only implemented in `CefSharp` `master` though. `return true` and the `OS` will use it's default protocol handler to open the url. So you just need a whitelist of protocols.

https://github.com/cefsharp/CefSharp/blob/master/CefSharp/IRequestHandler.cs#L133

[2015-08-04 10:49] amaitland commented on #34
`CEF` only recently implemented `fullscreen` notification support and as yet `CefSharp` has yet to catch up. Support is in the `2454` branch for `CEF`. As yet no `2454` branch builds have appeared on `cefbuilds.com`

https://github.com/cefsharp/CefSharp/issues/720#issuecomment-109109294

[2015-08-04 12:12] javathunderman commented on #47
Closing as this is an isolated issue. I haven't encountered this on any other machine.

[2015-08-04 12:12] #47 closed

[2015-08-04 12:12] javathunderman commented on #46
@AJDev77 Update?

[2015-08-04 12:13] javathunderman commented on #37
@amaitland Cool, thanks. :+1:

[2015-08-04 12:13] javathunderman commented on #36
@AJDev77 Update?

[2015-08-04 12:14] javathunderman commented on #34
@amaitland Awesome to see this moving along.

[2015-08-05 13:15] javathunderman commented on #51
Yep, I'm still having this issue.

[2015-08-05 13:16] javathunderman commented on #49
@AJDev77 Can you look into open source alternatives to this API? That's be a nice to have instead of using !G services.

[2015-08-05 16:06] javathunderman commented on #43
@AJDev77 Posted about Opaque on the subreddit /r/duckduckgo here: https://www.reddit.com/r/duckduckgo/comments/3fawsn/opaque_private_browser/

They suggested a lot of things we can improve on, namely UI and design

[2015-08-05 17:44] AJDev77 commented on #36
Still working on this.

[2015-08-05 17:45] AJDev77 commented on #51
That's really weird since I don't have the issue... I'm not sure what else we can try.

[2015-08-05 18:12] AJDev77 commented on #37
@amaitland Thanks for pointing us to that example... I think that gave me the start that I needed to put this into Opaque in the next few releases! I am going to play around with it the next few days to see what I can do.

[2015-08-05 18:17] javathunderman commented on #51
@AJDev77 Closing as this seems to be isolated. Can reopen if needbe.

[2015-08-05 18:17] #51 closed

[2015-08-05 19:08] javathunderman commented on #51
@AJDev77 Oh, just found out that it does this with only bold fonts on !G websites. Don't know if that helps but wanted to point it out.

[2015-08-05 22:33] amaitland commented on #37
Cool, let me know how you go :smile:

[2015-08-05 23:55] zekiel commented on #49
sorry I don't have any revelations here. Could investigate email spam domain lists or similar. Akismet and the like--if the data is open somewhere or usable in that form

[2015-08-06 00:25] javathunderman commented on #49
No problem @zekiel, @AJDev77 and I will look into it.

[2015-08-08 01:10] Tux64 commented on #33
The code builds successfully, however CefSharp uses a C++/CIL wrapper with a mixed-mode assembly that is not supported on other platforms as it contains platform-specific code.

[2015-08-08 01:23] AJDev77 commented on #33
Hmmm... Do you have any suggestions on what we can do? @Tux64

[2015-08-08 01:25] Tux64 commented on #33
Possible options include porting the wrapper to C# with P/Invoke, or use of another framework.

[2015-08-08 01:36] AJDev77 commented on #33
@Tux64 Okay, which do you think would be better (and maybe easier) to do? Cefsharp seems to be up to date with CEF and very active, so we would like to stay with them... we could also have another CEF (or Mozilla) framework built specifically for the Mac version. Let me bring @amaitland in here to see what he thinks as well.

[2015-08-08 01:50] Tux64 commented on #33
Also, abstracting some of the code would be useful, in case a vulnerability were to be found.

[2015-08-08 08:26] amaitland commented on #33
If you need `P/Invoke` then `CefGlue` is the most established framework, little bit more work as they don't offer `Nuget` packages, though there is some discussion about that on their website. There is a fairly recent option, called `ChromiumFx`, looks like the guy is fairly active, though I'm not sure there is much of a development community.

https://bitbucket.org/chromiumfx/chromiumfx

I believ

[2015-08-15 17:42] AJDev77 opened #52 "Download manager"
So our current download manager is well... not that good. In the next release of Opaque, there (should) be a new and improved download manager. Instead of using CEF to download the file, I am going to be using the .Net WebClient.

[2015-08-15 18:34] AJDev77 commented on #52
Wow, this took me quicker than I expected... The new download manager will be in the next release of Opaque. The new download manager is a well needed update. It includes: The URL of the file, the path of the save location, progress percent, progress bar, how much downloaded / total download size, and a cancel button.

[2015-08-15 20:26] javathunderman commented on #22
@AJDev77 Reopening this, hopefully we can get it implemented at some point.

[2015-08-15 20:51] AJDev77 commented on #22
@javathunderman Yup, I will be working on this.

[2015-08-15 22:24] AJDev77 commented on #52
@javathunderman If I recall correctly, you mentioned that we should put a ".opaquedownload" extension at the end of the file while it was downloading. This is now possible, and has been implemented to prevent opening the file while it is still downloading.

[2015-08-17 08:21] amaitland commented on #37
I've refactored a few things and added a `IMenuModel` wrapper to `master`. Currently it only exposes the `Clear` functionality. You should be able to add the `Add/Insert` wrappers with minimal effort.

https://github.com/cefsharp/CefSharp/commit/75ff0ed3e496ffee4874e43ef0f58a3cb407ca88

http://magpcss.org/ceforum/apidocs3/projects/%28default%29/CefMenuModel.html

[2015-08-17 12:15] AJDev77 commented on #37
@amaitland great! I was playing around with the other example you gave us and I did find a way to detect if there was a right click on a link or not, so I think  `IMenuModel` will allow us to create a custom menu now, does this sound right? I will fork `Master` later today and see what I can do to to add the `Add/Insert` wrappers. This seems like a good place to start contributing.

[2015-08-18 01:12] AJDev77 commented on #46
@javathunderman Hmmm... I just noticed that I can render local HTML files just fine with the latest version. Are you able to open them?

[2015-08-20 13:56] javathunderman commented on #43
Opened a forum: http://opaquebrowser.com/forums/

[2015-08-20 13:56] javathunderman commented on #43
And a subreddit http://reddit.com/r/Opaque/

[2015-08-21 13:09] javathunderman commented on #33
Hey @Tux64, any update?

[2015-09-01 17:34] AJDev77 commented on #52
Done.

[2015-09-01 17:34] #52 closed

[2015-09-01 17:34] AJDev77 commented on #46
Ping @javathunderman

[2015-09-01 17:42] AJDev77 opened #53 "Chromium 43 breaking changes"
There are a lot of breaking changes for the Chromium 43/45 update, so it will take some time before we get to releasing a version of Opaque with Chromium 43/45. We will continue to update Opaque on Chromium 41 until we get a stable version of 43/45.

[2015-09-02 00:55] amaitland commented on #37
Basic support for adding custom menu items was added recently see https://github.com/cefsharp/CefSharp/pull/1219

Not all the methods are implemented. Should be enough to implement the feature your after though

[2015-09-02 14:32] javathunderman commented on #46
@AJDev77 Yes, but I'm not able to see the directory structure. When you type in file:///C:/Users/Java, it doesn't seem to render the file structure but rather redirects me to a DDG search for that string.

[2015-09-02 17:03] javathunderman commented on #37
@amaitland Thanks! Looking into this.

[2015-09-18 12:53] AJDev77 commented on #53
Just linking this for more information: https://github.com/cefsharp/CefSharp/wiki/ChangeLog
This includes more information on what needs to be done for Chromium 43 to be put into Opaque.

[2015-09-18 16:21] AJDev77 commented on #33
@Tux64 I think you are right that getting the code in case vulnerabilities are found would be a good thing, but I believe that fixing a vulnerability would be a lot of hard work on the Chromium side of things, which I am not sure we can do. I feel like at this time, just using another project would be sufficient until we build up a strong development community that can help us, instead of just a f

[2015-09-18 17:26] javathunderman commented on #53
Cool, leaving you to it.

[2015-09-20 13:31] amaitland commented on #53
`43.0.0` release is imminent, see https://github.com/cefsharp/CefSharp/wiki/CefSharp-43 for upgrade details. (When you upgrade, if you have anything to add to the `Wiki`, please feel free to edit).

[2015-09-20 17:07] AJDev77 commented on #22
I found a solution called wyBuild (https://wyday.com/wybuild/), and it looks like this is what we might need. It is free for open-source projects, and it looks like it handles everything very nicely. I believe that  it creates small update patches if we are not updating everything as well. @javathunderman What do you think?

[2015-09-20 19:25] javathunderman commented on #22
@AJDev77 Couldn't find anything on pricing for open source projects, can you send the text where it mentions that?

[2015-09-20 19:30] AJDev77 commented on #22
@javathunderman I found it here: http://wyday.com/wybuild/buy/special-prices.php
I have emailed them about Opaque and I am awaiting a response.

[2015-09-21 00:10] AJDev77 commented on #53
@amaitland Just upgraded Opaque to `43.0.0` via MyGet. I noticed one thing that I could not find in the `Wiki`: The `BrowserSettings` have changed. For example, with `brsettings` as `Cefsharp.BrowserSettings`, it would change from `brsettings.ImageLoadingDisabled = False` to `brsettings.ImageLoading = CefState.Enabled`. Is that worth mentioning in the `Wiki`? Or did I just miss that somewhere?

[2015-09-21 00:20] amaitland commented on #53
Yep, that's probably worth mentioning :+1:

[2015-09-21 00:31] amaitland commented on #53
`Wiki` updated.

[2015-09-21 00:36] AJDev77 commented on #53
@amaitland Cool, I will keep a lookout for anything else!

[2015-09-21 00:37] amaitland commented on #53
Thanks :+1: Feel free to add anything you think is relevant.

[2015-09-21 01:02] javathunderman commented on #22
LGTM then :+1:

[2015-09-21 23:55] Tux64 commented on #33
@AJDev77 Understood.

[2015-09-23 20:27] AJDev77 commented on #53
Got Opaque running with `43`. Now we need to go into testing to make sure everything works as it did before the upgrade.

[2015-09-23 20:57] amaitland commented on #37
There's also a new tab related method called `OnOpenUrlFromTab`. handle `middle mouse` and `ctrl + left click`.

https://github.com/cefsharp/CefSharp/blob/cefsharp/43/CefSharp/IRequestHandler.cs#L43
https://github.com/cefsharp/CefSharp/commit/fff080869394bd6604125a1fdd7a592eaa8d9ae7

[2015-09-23 20:59] amaitland commented on #53
Also if your not using `JSB` then you can disable `WCF` which will likely increase performance in `43`

https://github.com/cefsharp/CefSharp/blob/cefsharp/43/CefSharp.Example/CefExample.cs#L43

[2015-09-25 18:00] AJDev77 commented on #53
@amaitland Alright, I will keep this in mind, but for now I am going to keep it enabled. I did notice a huge performance increase when starting up. BTW, great job with `43` :+1:

@javathunderman Should I release Opaque with 43 this weekend/next week, or should I experiment with all the new things we can do and maybe get something new in Opaque? I think we should release it with 43 just so (with a

[2015-09-25 18:20] AJDev77 commented on #46
Alright, this should be completely working in the next release. The problem is that the address bar was not picking up the "file:///", so it just performed a search for it.

[2015-09-25 18:23] AJDev77 commented on #40
This should also be working in the next release. I haven't got it in Opaque yet, but that is on my list for tonight.

[2015-09-25 18:26] AJDev77 commented on #34
I noticed a pretty big performance increase during startup with the latest `43` release.  I am going to remove the bug label and change this to low priority.

[2015-09-25 18:29] javathunderman commented on #34
By "increase", do you mean it's taking up more resources?

[2015-09-25 18:29] javathunderman commented on #40
Ok, 1.2 is looking good.

[2015-09-25 18:30] javathunderman commented on #46
Yeah, I noticed that- did I not mention that on this issue?

[2015-09-25 18:30] javathunderman commented on #53
Agreed. Let's get a bug fix update out and then we can experiment. I'd like to see a release for Sunday.

[2015-09-25 18:31] AJDev77 commented on #22
Update: So it has been 5 days and I have not heard back from them. I read on their support page that they usually respond to (support) emails the same day or the next day, so they must have a more complicated process for open source projects. I would have at least liked a confirmation that they got it though... but I don't mind waiting. I just want to plan the next release.

[2015-09-25 18:33] javathunderman commented on #22
@AJDev77 It's been planned for Sunday. If they don't respond in that time then we'll go ahead and release it without auto update. We'll look into some alternatives in the slim chance that they never respond.

[2015-09-25 18:34] AJDev77 commented on #46
@javathunderman Yeah, you mentioned it, I was just confirming that this was the problem and it wasn't a problem with CEF not recognizing it.

[2015-09-25 18:36] AJDev77 commented on #34
@javathunderman No, I mean that it seems to have a faster startup time. I haven't noticed more resources being taken up, but I will continue to test it over the next few days.

[2015-09-26 19:50] AJDev77 commented on #46
Fixed it. It is going to be working in the next release.

[2015-09-26 19:50] #46 closed

[2015-09-27 20:06] AJDev77 commented on #53
The next release will not be released today. I have the code in, but I need to test it to make sure everything still works together. I am aiming to release it on Tuesday or Wednesday.

[2015-09-27 21:33] javathunderman opened #54 "Closing out when a tab is auto-closed"
@AJDev77 Seems like Opaque is closing out entirely when a website self-destructs a tab (say for logon or for downloads). Tested this with the 1.0 build Opaque on Soundcloud. See if you can reproduce. As we're pushing the date out a bit, I guess we can get this fixed and have it ready for (ideally) a Friday release.

[2015-09-27 21:33] javathunderman commented on #36
@AJDev77 Update?

[2015-09-27 21:47] AJDev77 commented on #54
@javathunderman Yup, I replicated this issue. I will look into what is causing this.

[2015-09-28 11:37] AJDev77 commented on #54
Turns out this is kinda my fault and kinda the websites fault. @amaitland is there any way to detect if a new tab should be opened when clicking on a link on a web page vs if a new window should be opened? I have `ILifespanHandler` implemented, but I have it so every new window request opens in a new tab, so when the website calls `Window.close` (like when signing into Soundcloud), it closes the w

[2015-09-28 11:39] amaitland commented on #54
Try `ILifeSpanHandler.DoClose`, return true, then handle the close yourself.

https://github.com/cefsharp/CefSharp/blob/master/CefSharp/ILifeSpanHandler.cs#L109

[2015-09-29 17:37] javathunderman commented on #54
Thanks @amaitland!

[2015-09-29 17:37] javathunderman commented on #53
@AJDev77 Are we OK for a release today?

[2015-09-29 17:39] javathunderman commented on #49
@AJDev77 http://stackoverflow.com/questions/197548/is-there-something-like-the-google-safe-browsing-api-that-is-more-stable

[2015-09-29 17:40] javathunderman commented on #43
Been posting all over Reddit lately...

[2015-09-29 17:42] javathunderman commented on #33
Hey @Tux64 any update?

[2015-09-29 17:42] javathunderman commented on #37
@AJDev77 Any updates on this? I know @amaitland pointed out a way to do this...

[2015-09-29 17:43] javathunderman commented on #34
Seeing as performance is doing better I think it's safe (for now) to close this. @AJDev77 Reopen at will...

[2015-09-29 17:43] #34 closed

[2015-09-29 17:45] javathunderman commented on #33
Opening this up to whoever wants to help @Tux64 w/ this.

[2015-09-29 17:45] javathunderman commented on #40
Closing, this seems to be implemented. :+1: @AJDev77 reopen at will!

[2015-09-29 17:45] #40 closed

[2015-10-03 00:28] AJDev77 commented on #54
Unfortunately I will need to experiment with this more. I can see what @amaitland is saying, but I think it's an issue with our `TabControl` not giving us the current tab. I am still working on a solution.

[2015-10-03 00:46] javathunderman commented on #54
Postponing release. Date TBD!

[2015-10-06 22:59] javathunderman commented on #25
See #33

[2015-10-07 12:22] AJDev77 commented on #38
A little late, but yeah, I thought you were talking about having an AutoComplete in the search box...

[2015-10-07 17:13] javathunderman commented on #38
I don't think that's all that necessary. I think it's going to be a mostly long-term project making sure that AutoComplete works with all the search engines that we support.

[2015-10-07 17:13] javathunderman commented on #38
That is if we take it on.

[2015-10-07 17:15] javathunderman commented on #54
Aiming for a Halloween launch. Happy to move up the date as needed.

[2015-10-07 17:30] AJDev77 commented on #54
Sounds good to me. This is really the only thing that we need to get finished before the next release.

[2015-10-07 17:33] AJDev77 commented on #22
Another update: I am not sure what is going on with them. I submitted a post on their forum, but they just keep ignoring me for some reason. The people there respond to others, but just skipped my post. I might post another thing on the same thread to try and find out what is going on and why they aren't responding.

[2015-10-07 17:36] javathunderman commented on #22
Alright, I'll look for alternatives.

[2015-10-07 17:36] javathunderman commented on #54
Can we move it up then?(possibly the 20th?)

[2015-10-07 17:38] AJDev77 commented on #54
Yeah, I am trying to get this fixed ASAP so we can get the next release out, so it depends on if we can get this to work. I think we should be able to get this fixed by then.

[2015-10-07 17:40] AJDev77 commented on #22
Okay. And I can't even get on their website from here... Website contains prohibited File Sharing content.

[2015-10-07 17:44] javathunderman commented on #22
ugh

[2015-10-07 17:44] javathunderman commented on #54
Alright, excellent.

[2015-10-10 21:56] AJDev77 commented on #36
@javathunderman I got Core.Animations, which allows us to animate (mostly) every control in Opaque. Where should we have those animations?

[2015-10-12 19:27] AJDev77 opened #55 "First start setup"
When the user installs Opaque for the first time, they will be greeted with a welcome screen, then they can select their search provider and the color of the browser (with more options on the way). This will not be in the next release, but it will be in soon, so for now there is no milestone. The first start window will show to users who already have Opaque and just upgraded, but their options sho

[2015-10-14 17:31] javathunderman commented on #22
@AJDev77 This might be handy: http://www.codeproject.com/Articles/19304/Custom-Application-Auto-Update

[2015-10-28 17:48] AJDev77 commented on #17
Opaque might be getting a slightly modified logo soon.

[2015-10-29 22:41] AJDev77 commented on #17
Opaque will be getting a slightly modified logo soon. Should be in the next release, planned for the 31st (not the 30th).

[2015-11-06 17:23] AJDev77 commented on #54
I can't figure out how to fix this... seems to be an issue with our TabControl, but I can't figure it out yet. I will be releasing v1.2 (Chromium 43) tomorrow without this fixed because we need to get another release out.

[2015-11-06 17:24] AJDev77 commented on #53
Chromium 43 is working great with Opaque.

[2015-11-06 17:24] #53 closed

[2015-11-06 20:57] javathunderman commented on #54
That's alright. Social media is being updated!

[2015-11-11 20:55] Justin-Lopez opened #56 "Adblock"
I know its a bit to advanced and plugins is later in development but I think you guys should add an ad blocker to Opaque.

[2015-11-11 23:26] Justin-Lopez commented on #17
I know I'm not part of this orgainization but since you guys need it here you go;
![opaque-logo_64x64](https://cloud.githubusercontent.com/assets/14062996/11106068/2ec6a7c0-88a1-11e5-8373-f9d064a2b410.png)

If you need the PSD file, just email me and I'll send you it.

[2015-11-12 01:33] javathunderman commented on #56
Hey @Justin-Lopez, thanks for your interest in Opaque!

Currently this is taken care of in #19. We're currently trying to implement plugins for adblock and anti-tracking. Therefore, I am going to close this issue.

Thanks again!

[2015-11-12 01:33] #56 closed

[2015-11-12 01:35] javathunderman commented on #17
Hey @Justin-Lopez, thanks for the logo! @AJDev77 has already redesigned the logo though, and we're planning to implement his revised version into Opaque ASAP.

We'll absolutely use this logo in another shape or form, however. Thanks for your interest and effort!

[2015-11-12 01:43] Justin-Lopez commented on #17
@javathunderman Ah, well your welcome anyway.

[2015-11-19 18:41] javathunderman commented on #17
@AJDev77 I believe this has been done, feel free to reopen if otherwise.

[2015-11-19 18:41] #17 closed

[2015-11-19 18:43] javathunderman commented on #49
@AJDev77 Let's try implementing this: http://www.phishtank.com/developer_info.php

[2015-12-02 19:28] AJDev77 opened #58 "Chromium 45 update"
CefSharp released Chromium 45 a few days ago, so the next release of Opaque will be delayed a few days. Looking to get next release out next week. So far, I have not found any major changes/errors, so this should be a smooth upgrade.

Note to self: Check VC++ version for distribution.

[2015-12-03 14:46] javathunderman commented on #58
@AJDev77 Cool, let me know when it's good to push that release out. Got to update social media.

[2016-01-01 03:01] #58 closed

[2016-02-23 13:43] AJDev77 opened #59 "Chromium 47 update"

[2016-02-23 18:54] javathunderman commented on #59
@AJDev77 Are we getting back on this?